body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.accent {
  color: var(--accent-color);
}

:root {
  /* Light mode colors */
  --background-color: #888578ff;
  --primary-text-color: #AEB8B7ff;
  --secondary-text-color: #161116ff;
  --accent-color: #1C2430ff;
}

[data-theme="dark"] {
  /* Dark mode colors */
  --background-color: #161116ff;
  --primary-text-color: #AEB8B7ff;
  --secondary-text-color: #6E746Dff;
  --accent-color: #1C2430ff;
}
