.footer{
    position: absolute;
    margin-top: 3860px;
    height: 20vh;
    color: white;
    background:#141414;
    width: 100%;
}

.logopart img{
    height:7vh;
    margin-left: 70px;
    margin-top: -50px;
}
.logopart h1{
    color:rgb(18, 241, 241);
font-size: 25px;
margin-top: 40px;
margin-left: 120px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
.socials i{
    font-size: 27px;
    margin-top: 30px;
    padding: 0px 4px;
    color: rgb(18, 241, 241);
}
.btn4{
    margin-right: 60px;
    margin-top: 30px;
}
.btn4 a{
    text-decoration: none;
    padding: 10px 25px;
    color: black;
    background: teal;
    border-radius: 30px;
}
