header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    max-width: 150px;
    max-height: 70px;
  }
  
  .menu-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .search-bar {
    padding: 10px;
    border-radius: 5px;
  }
  
  .watchlist-button,
  .sign-in-button,
  .sign-up-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }