/* Styling the container for the hero section */
.hero-section {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

/* Styling the Slider component */
.slick-slider {
  position: relative;
  height: 100%;
}

/* Styling the slide within the Slider component */
.slick-slide {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Styling the image within the slide */
.slick-slide img {
  width: 100%;
  height: 450px;
  object-fit:contain;
}
