/* Styling the form element */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Styling the label element within the form */
label {
  margin-top: 10px;
}

/* Styling the input element within the form */
input {
  margin-top: 5px;
}

/* Styling the button element within the form */
button {
  margin-top: 10px;
}

/* Styling the container for the sign-up page */
.signup-container {
    display:flex; 
    margin-top:50px; /* Add top margin to separate from header */
    margin-bottom:50px; /* Add bottom margin to separate from footer */
    margin-left:50px; 
}

/* Styling the form within the sign-up container */
.signup-form {
    margin-right:auto; 
}

/* Styling the image within the sign-up container */
.signup-image {
    margin-left:150px; 
    position:relative; /* Set position to relative */
    left:-100px; /* Move image to the left */
}

/* Styling the img element within the sign-up image */
.signup-image img {
    height:320px; 
    border-radius:100px; 
    width:900px; 
}

/* Styling the container for the login page */
.login-container {
    display:flex; 
    margin-top:50px; 
    margin-bottom:50px; 
    margin-left:50px; 
}

/* Styling the form within the login container */
.login-form {
    margin-right:auto; 
}

/* Styling the image within the login container */
.login-image {
    margin-left:150px; 
    position:relative; 
    left:-100px; 
}

/* Styling the img element within the login image */
.login-image img {
    height:320px; 
    border-radius:100px; 
    width:900px; 
}
