/* Styling the container for the menu */
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 500px;
  height: 100%;
  background-color: rgb(145, 143, 143);
}

/* Styling the close button for the menu */
.menu-close-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Styling the container for the menu contents */
.container {
    display:block;
    justify-content:space-between;
    padding-top:20px; 
}

/* Styling the heading within the container */
.container h2 {
    font-size:20px; 
    margin-bottom:10px; 
    color: teal;
}

/* Styling the paragraph within the container */
.container p {
    font-size:16px; 
    margin-bottom:5px; 
}

/* Styling the links within the container */
.container a {
    text-decoration:none; 
    color:black; 
}

.column{
  display: block;
  padding-right: 2px;
  margin: 5px;
}

/* Add styles for the modal content */
.modal-content {
  top: '50%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  margin-right: '-50%';
  transform: 'translate(-50%, -50%)';
  width: '80%';
  height: '80%';
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

/* Add styles for the modal content when it is opened */
.modal-content.open {
  opacity: 1;
}
/* Add styles for the modal content */
.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Add styles for the modal content when it is opened */
.modal-content.open {
  opacity: 1;
}

/* Add styles for the close button */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: 'none';
  color: '#fff';
}

/* Add styles for the iframe element */
.modal-iframe {
  position: 'absolute';
  top: 0;
  left: 0;
  width: '100%';
  height: '100%';
  overflow: 'hidden';
}
