/* Styling the container for the menu */
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 500px;
  height: 100%;
  background-color: rgb(145, 143, 143);
 /* transform: translateX(100%);
  transition: transform 0.3s ease-in-out;*/
}

/* Styling the open state for the menu container */
/*.menu-container.open {
  transform: translateX(0);
}*/

/* Styling the close button for the menu */
.menu-close-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Styling the overlay for the menu */
/*.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}*/

/* Styling the container for the menu contents */
.container {
    display:block;
    /*flex-wrap:wrap;*/
    justify-content:space-between;
    /*align-items:flex-start; /* Align items to the top */
    padding-top:20px; 
}

/* Styling the heading within the container */
.container h2 {
    font-size:20px; 
    margin-bottom:10px; 
    color: teal;
}

/* Styling the paragraph within the container */
.container p {
    font-size:16px; 
    margin-bottom:5px; 
}

/* Styling the links within the container */
.container a {
    text-decoration:none; 
    color:black; 
}

/* Add styles for each column */
/*.column {
    /*flex-basis:calc(33.33% -20px); /* Set the width of each column */
    /*margin-right:20px; /* Add some margin between columns 
}*/
.column{
  display: block;
  padding-right: 2px;
  margin: 5px;
}