body {
  background-color: black;
  color: white;
}

.movies-list {
  display: flex;
  align-items: center;
}

.movies-container {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.movies-container::-webkit-scrollbar {
  display: none; 
}


.movie-card {
  flex: 0 0 auto;
  width: 200px;
  margin: 10px;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.movie-card h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.movie-card button {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
}


.movie-card img {
  width: 100%;
}
.movie-card button {
  color: white;
  background-color: black;
}
.movie-card button:nth-of-type(1) {
  color: rgb(18, 241, 241);
  border: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.movie-card button:nth-of-type(1):hover {
  filter: brightness(120%);
}

.movie-card button:nth-of-type(2) {
  color: white;
  border: none;
}
.movie-card button:nth-of-type(2):hover {
  filter: brightness(120%);
}

.movie-card button:hover {
  background-color: rgb(18, 241, 241);
}
.movie-card button:hover {
  filter: brightness(10%);
}

.scroll-button {
  font-size: 24px;
}
h2{
  color: rgb(18, 241, 241);
  font-size: 25px;
  padding: 30px;
  margin-left: 20px;
}